
$primary: $gray-900;
$warning: $orange;
$info: $blue;
$enable-transitions: false;
$spacer: 2rem;
$paragraph-margin-bottom: 2rem;
$dropdown-border-color: transparent;
$dropdown-box-shadow: 0 2.5rem 1rem rgba(0, 0, 0, 0.575);
$secondary: $gray-700;
$font-weight-light: 200;
$font-weight-normal: 200;
$font-weight-bold: 200;
$font-weight-bolder: 300;
$font-weight-base: $font-weight-light;
$btn-font-weight: $font-weight-base;
$badge-font-weight: $font-weight-base;
$close-font-weight: $font-weight-base;
$headings-font-weight: $font-weight-bold;
$pagination-border-width: 0;
$font-size-base: .8rem;
$display1-weight: 200;
$display2-weight: 200;
$display3-weight: 200;
$display4-weight: 200;
$lead-font-weight: 200;