.#{$rt-namespace}__toast {
    position: relative;
    min-height: $rt-toast-min-height;
    box-sizing: border-box;
    margin-bottom: 1rem;
    border-radius: 1px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1), 0 2px 15px 0 rgba(0, 0, 0, .05);
    display: flex;
    justify-content: space-between;
    max-height: $rt-toast-max-height;
    overflow: hidden;
    position: relative;
    padding-right: 4em;
    font-family: $rt-font-family;
    cursor: pointer;
    direction: ltr;
    color: $rt-text-color-default;
    &--rtl {
        direction: rtl;
    }
    &--default {
        border-left: 3px solid $rt-text-color-default;
    }
    &--info {
        border-left: 3px solid $rt-color-info;
    }
    &--success {
        border-left: 3px solid $rt-color-success;
    }
    &--warning {
        border-left: 3px solid $rt-color-warning;
    }
    &--error {
        border-left: 3px solid $rt-color-error;
    }
    &-body {
        margin: auto 0;
        padding: 8px;
        flex: 1;
        padding-left: 1em;
        font-size: .8rem;
    }
}

@media #{$rt-mobile} {
  .#{$rt-namespace}__toast{
    margin-bottom: 0;  
  }
}
